@model IEnumerable<ManagerListDTO>
@using MongoMVC.Models;

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item._id }) |
            @Html.ActionLink("Details", "Detail", new { id=item._id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item._id })
        </td>
    </tr>
}

</table>
